.background
{
	background-color: white;
	background-image: url("../IMAGE/blue.jpg");
	background-repeat: repeat;
	padding-top: 300px;

}

#container{
	width: 1000px;
}

body
{
	font-family: "Lora";
	background-color: white;
	background-image: url("../IMAGE/blue.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

#header
{
	
	font-size: 100px;
	color: white;
	text-align: left;
	
}

div.ex1 
{
    width: 1000px;
    margin: auto;
    padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
    border: 1px black;
	background-color: black;
}


ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active 
{
    background-color: #00ace6;
}

li a:hover:not(.active) 
{
    background-color: #004d66;
}


h1 
{
	font-size: 40px;
	color: white;
	text-align: center;
}

h2 
{
	color: white;
	font-size: 20px;
	
}

h3
{
	font-size: 17px;
	text-decoration: underline;
	color: white;
	text-align: center;
}

#footer
{
	text-align: center;
	color: white;
}
